body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
    background-size: cover;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 900px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: black 1px solid;
}

h2, h3 {
    text-align: center;
    color: white;
}

.task-list-input, .task-input {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.task-list-input input, .task-input input, .task-input select {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(0, 0, 0);
    outline: none;
    font-size: 16px;
    border-radius: 5px;
}

.task-input select {
    color: rgb(19, 18, 18);
}

.task-list-input input::placeholder, .task-input input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

input, button, select {
    padding: 8px;
    font-size: 16px;
    flex: 1;
}

button {
    background-color: #ff7e06;
    color: white;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
}

button:hover {
    background-color: #ff8706;
}

#taskList {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #fffcfc;
}

.deleteTaskBtn {
    background-color: #FF0000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.deleteTaskBtn:hover {
    background-color: #cc0000;
}

#viewTimetableBtn {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}
