body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
    background-size: cover;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 550px;
}

.task-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h2, h3 {
    text-align: center;
    color: white;
}

.task-list-input, .task-input {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}

input, button, select {
    padding: 8px;
    font-size: 16px;
    flex: 1;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
}

button:hover {
    background-color: #0056b3;
}

#taskList {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.deleteTaskBtn {
    background-color: #FF0000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.deleteTaskBtn:hover {
    background-color: #cc0000;
}